*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --body-bg-color: #f9f9f9;
  --navbar-bg-color: #2a8129;
  --navbar-btn-bg-color: rgba(255, 255, 255, 0.5);
  --navbar-btn-bg-hover-color: rgba(255, 255, 255, 0.3);
  --game-board-bg-color: #66b165;
  --snake-color: #3fef23;
  --food-color: #fc324b;
  --modal-bg-color: rgb(0, 0, 0, 0.7);
  --white-text-color: #ffffff;
  --black-text-color: #333333;
  --border-black-color: #000000;
  --btn-bg-color: #2f87ad;
  --btn-bg-hover-color: #266b88;
  --summary-color: #9e68c0;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navbar {
  background-color: var(--navbar-bg-color);
  list-style: none;
  display: flex;
  padding: 10px 30px;
}

.navbar .nav-item {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.navbar .nav-item:first-child {
  margin-left: 0px;
}

.navbar .nav-item:last-child {
  margin-right: 0px;
}

.navbar .nav-item .nav-item-icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.navbar .nav-item h2 {
  font-size: 1.7rem;
  color: var(--white-text-color);
}

.navbar .nav-item.item-right {
  margin-left: auto;
}

.navbar .nav-item .nav-btn {
  padding: 15px;
  background-color: var(--navbar-btn-bg-color);
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

.navbar .nav-item .nav-btn:hover {
  background-color: var(--navbar-btn-bg-hover-color);
}

.navbar .nav-item .nav-btn .nav-btn-icon {
  width: 25px;
  height: 25px;
}

.game-container {
  position: relative;
}

.game-container #game-board {
  background-color: var(--game-board-bg-color);
}

.game-container .overlay {
  background-color: var(--modal-bg-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container .overlay .overlay-text {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2.5rem;
}
.game-container .overlay .keyboard-btn {
  background-color: #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  margin: 0px 10px;
  font-size: 2rem;
}

.overlay .overlay-modal {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px;
  border-radius: 5px;
}

.overlay .overlay-modal .modal-img-top {
  width: 100%;
  height: 50%;
}

.overlay .overlay-modal .modal-header {
  text-align: center;
  font-size: 2rem;
  /*font-weight: bold;
  color: var(--summary-color);
  text-transform: uppercase;*/
  margin: 20px 0px 10px 0px;
}

.overlay .overlay-modal .score-group {
  display: flex;
  align-items: center;
  margin: 18px;
}

.overlay .overlay-modal .score-group .modal-summary-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.overlay .overlay-modal .score-group .score {
  font-size: 2.2rem;
}

.overlay .overlay-modal .modal-btn {
  padding: 10px 20px;
  background-color: var(--btn-bg-color);
  color: var(--white-text-color);
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.overlay .overlay-modal .modal-btn:hover {
  background-color: var(--btn-bg-hover-color);
}

.overlay.hidden,
.overlay-modal.hidden,
.overlay-text.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .nav-item .nav-item-icon {
    width: 30px;
    height: 30px;
  }

  .navbar .nav-item h2 {
    font-size: 1.8rem;
  }

  .navbar {
    padding: 5px 15px;
  }

  .navbar .nav-item .nav-btn {
    padding: 10px;
  }

  .navbar .nav-item .nav-btn .nav-btn-icon {
    width: 18px;
    height: 18px;
  }

  .game-container .overlay .overlay-text {
    font-size: 1.7rem;
  }
}
